{% load static %}

<html lang="en" class="h-full">
    <head>
        <title>{% block title %}Formula Stats{% endblock %}</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script src="https://cdn.tailwindcss.com"></script>

        <script>
          tailwind.config = {
            plugins: [
              require('@tailwindcss/forms'),
            ],
          }
        </script>

        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>
    </head>

    <body class="h-full bg-slate-900 text-slate-100 font-sans leading-relaxed flex flex-col">
        
        <header class="absolute inset-x-0 top-0 z-50">
            <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
                <div class="flex lg:flex-1">
                    <a href="{% url 'dashboard_app' %}" class="-m-1.5 p-1.5">
                        <span class="sr-only">Formula Stats</span>
                        <h1 class="text-2xl font-bold text-white">Formula Stats</h1>
                    </a>
                </div>
                <div class="hidden lg:flex lg:gap-x-12">
                    <a href="{% url 'analysis' %}" class="text-lg font-semibold leading-6 text-white hover:text-gray-300">Analysis</a>
                    
                    <div 
                        x-data="{ open: false }" 
                        @mouseenter="open = true" 
                        @mouseleave="open = false" 
                        class="relative"
                    >
                        <button class="flex items-center gap-x-1 text-lg font-semibold leading-6 text-white hover:text-gray-300 focus:outline-none">
                            <a href="{% url 'machine_learning' %}"><span>Machine Learning</span></a>
                            <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                            </svg>
                        </button>

                        <div 
                            x-show="open"
                            x-transition
                            class="absolute -left-8 top-full z-10 mt-3 w-56 rounded-xl bg-slate-800 p-2 shadow-lg ring-1 ring-gray-900/5"
                        >
                            <a href="{% url 'fastest_lap_predictor' %}" class="block rounded-lg px-3 py-2 text-sm font-semibold leading-6 text-slate-200 hover:bg-slate-700">Fastest Lap Predictor</a>
                        </div>
                    </div>
                    <a href="{% url 'drivers' %}" class="text-lg font-semibold leading-6 text-white hover:text-gray-300">Drivers</a>
                    <a href="{% url 'about' %}" class="text-lg font-semibold leading-6 text-white hover:text-gray-300">About</a>
                </div>
                <div class="hidden lg:flex lg:flex-1 lg:justify-end">
                    <a href="https://buymeacoffee.com/bartosz_tyl" target="_blank" class="text-sm font-semibold leading-6 text-white hover:text-gray-300">
                        Support the project <span aria-hidden="true">&rarr;</span>
                    </a>
                </div>
            </nav>
        </header>
    
        <main class="flex-grow isolate">
            {% block content %}
            {% endblock %}
        </main>
    
        <footer class="mt-auto">
            <div class="mx-auto max-w-7xl overflow-hidden px-6 py-12 lg:px-8">
                <div class="mt-0 flex justify-center space-x-10">
                    <a href="https://github.com/BartoszTyl/formula_stats_repo" target="_blank" rel="noopener noreferrer" class="text-gray-500 hover:text-gray-400">
                        <span class="sr-only">GitHub</span>
                        <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                            <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.477 2 12c0 4.418 2.865 8.168 6.839 9.492.5.092.682-.217.682-.482 0-.237-.009-.868-.014-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.031-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.378.203 2.398.1 2.65.64.7 1.03 1.595 1.03 2.688 0 3.848-2.338 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.001 10.001 0 0022 12c0-5.523-4.477-10-10-10z" clip-rule="evenodd" />
                        </svg>
                    </a>
                </div>

                <div class="mt-2 border-t border-gray-700 pt-6">
                    <p class="text-center text-xs text-gray-500 leading-relaxed max-w-4xl mx-auto">
                        <strong>Disclaimer:</strong> Formula Stats is a work-in-progress, independent platform, created for educational purposes and is not affiliated with, endorsed by, or in any way officially connected to Formula 1, F1, the FIA, or any of their related entities. All trademarks and logos are the property of their respective owners.
                    </p>
                </div>

                <p class="mt-2 text-center text-xs leading-5 text-gray-500">&copy; {% now "Y" %} Formula Stats. Created by Bartosz Tylczyński. Version: 0.1.0 alpha.1</p>
            </div>
        </footer>
    </body>
</html>