{% extends "base.html" %}

{% block title %}Drivers{% endblock %}

{% block content %}


<div class="max-w-4xl mx-auto px-4 py-8">
    <h2 class="text-2xl font-bold text-center mb-6">All Available Drivers</h2>
        <div class="text-center">
            <div class="inline-block bg-blue-600 text-white text-lg font-semibold py-3 px-6 rounded-xl shadow">
                More details coming soon!
            </div>        
        </div>
    <p class="text-center text-lg text-slate-500 my-4">
        This list includes all drivers who have taken part in any Formula 1 session — practice, qualifying, race, etc. and are present in the database.
    </p>

    <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mb-12">
        {% for driver in available_drivers %}
            <li class="bg-slate-100 rounded-xl shadow-md p-4 text-center">
                <span class="block text-xl font-medium text-slate-800">
                    {{ driver.first_name }} {{ driver.last_name }}
                </span>
                <span class="text-slate-500 text-sm tracking-wide">
                    ({{ driver.abbreviation }})
                </span>
            </li>
        {% endfor %}
    </ul>
</div> 
{% endblock %}