/* General Dark Mode Styles */
html, body {
    height: 100%; /* Make sure the page takes up the full height */
    margin: 0;
    padding: 0;
}

body {
    background-color: #1a1a1a; /* Dark Grey Background */
    color: #f0f0f0; /* Light Grey Text */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Stack content vertically */
}

#content {
    flex: 1; /* This will make the content area take up the remaining space */
}

/* Navigation Styles */
nav {
    background-color: #101010; /* Darker background for the nav bar */
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: space-between; /* Space out elements */
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

.nav-right {
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #f0f0f0; /* Light text for links */
    font-size: 16px;
}

/* Footer Styles */
footer {
    background-color: #1a1a1a; /* Dark background for footer */
    padding: 20px 0;
    color: #f0f0f0;
    text-align: center;
    margin-top: 20px; /* Space above the footer */
}

/* Disclaimer Styles */
footer p {
    font-size: 0.9em;
    color: #d3d3d3; /* Lighter grey for the disclaimer text */
}

footer h3 {
    color: #f0f0f0;
}

/* Links - Adjust hover state for dark mode */
a:hover {
    color: #f8570c; /* Gold color on hover */
}
